body {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    padding: 45px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(161, 161, 161);
    padding: 24px 18px 18px;
    border-radius: 16px;
    width: 50vh;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

button {
    border-radius: 8px;
    padding: 2px 6px;
    font-size: 28px;
    height: 80px;
    width: 80px;
    background-color: rgb(232, 232, 232);
    border-style: solid;
    border-color: black;
    margin: 6px 6px 6px;
}

button:hover {
    background-color: rgb(208, 208, 208);
}
button.clear:hover {
    background-color: rgb(230, 158, 158);
}

.display {
    font-size: 32px;
    border-radius: 8px;
    text-align: right;
    padding: 20px;
    word-wrap: break-word;
    background-color: rgb(232, 232, 232);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 0 12px;
}

.middle {
    display: flex;
    align-items: center;
    padding: 12px 0;
}
button.clear {
    flex: 2 0 auto;
    background-color: rgb(243, 163, 163);
    margin: 0 12px;
}

.operators {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}