body {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 199, 199);
    padding: 18px 18px;
    border-radius: 8px;
    width: 45vh;
    border-color: black;
    border-style: solid;
}

button {
    border-radius: 10px;
    padding: 2px 6px;
    font-size: 30px;
    height: 80px;
    width: 75px;
    background-color: rgb(247, 182, 156);
    margin: 0 0 14px 0;
}

.display {
    font-size: 32px;
    text-align: right;
    padding: 6px 6px;
    word-wrap: break-word;
}

.middle {
    display: flex;
    align-items: center;
    padding: 0 0 12px 0;
}
button.clear {
    margin: 0px;
    flex: 2 0 auto;
}

.operators {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 0 6px 0;
    flex-grow: 1;
}